@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #7d5fff;
	font-family: 'Roboto', sans-serif;
	display: flex;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.search {
	position: relative;
	background-color: #fff;
}

.search .input {
	border: 0;
	font-size: 18px;
	padding: 15px;
	height: 50px;
	width: 50px;
}

.btn {
	cursor: pointer;
	font-size: 1.5rem;
	background: transparent;
	border: 0;
	background-color: #fff;
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
}

.btn:focus,
input:focus {
	outline: none;
}

.search.active .input {
	width: 200px;
}

.search.active .btn {
	transform: translateX(198px);
}
